<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nombre: Juanito de Tal</h1>
    <h2>Edad: 500 años</h2>
    <h3>Ocupacion: Profesionista de refrigeracion de alimentos procesados para 
        consumo humano y derivados lacteos
    </h3>
    <p>Pastiempos: Contemplar las estrellas, hablar consigo mismo, descender a
        la locura y ver tiktok
    </p>
</body>
</html>