{%extends 'base.html'%}

{%block title%}Laptops{%endblock%}

{%block body%}
    <h1>Laptops disponibles</h1>
    <div>
        <p>Laptop Hp</p>
        <img src="https://i5.walmartimages.com/seo/HP-Pavilion-13-3-FHD-Intel-Core-i3-8GB-RAM-128GB-SSD-Silver_906cf222-d138-430a-8146-d129b0cca3a2_2.f838f300a6e31f50074faf4091a1da7b.jpeg" alt="">
    </div>
    <div>
        <p>Laptop Asus</p>
        <img src="https://i5.walmartimages.com/asr/88228706-077d-42c0-8e08-ea5447b36c46.9e19c715b0e2d050510684c22d706d68.jpeg" alt="">
    </div>
    <div>
        <p>Laptop Mac</p>
        <img src="https://i5.walmartimages.com/asr/b49ad645-e4ff-43ab-8739-8a3f1c68b423.f80173b1db774dbd8ef484d439eae804.jpeg" alt="">
    </div>

    
{%endblock%}