{%extends 'base.html'%}

{%block title%} Inicio {%endblock%}
{%block body%}
    <h1>Zapatos disponibles</h1>
    <div id="producto">
        <img id="imgproducto" src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/5daa00d9-afae-4125-a95c-fc71923b81c3/AIR+FORCE+1+%2707.png" alt="">
        <p>Zapatos Nike Negros</p>
        <p>Precio $150.50</p>
    </div>
    <div id="producto">
        <img  id="imgproducto" src="https://m.media-amazon.com/images/I/716Inzq-uoL._AC_SL1500_.jpg" alt="">
        <p>Zapatos Adidas Blancos</p>
        <p>Precio $78.30</p>
    </div>
    <div id="producto">
        <img id="imgproducto" src="https://caterpillarsv.com/cdn/shop/files/30037295-1_692afcc7-e7f8-48cd-aa61-878bf9ea206a.jpg?v=1761842714" alt="">
        <p>Zapatos Caterpillar</p>
        <p>Precio $199.99</p>
    </div>
    <div id="producto" >
        <img id="imgproducto" src="https://modaurbanasv.com/cdn/shop/files/DSC04334.jpg?v=1725246650&width=1946" alt="">
        <p>Zapatos All Star</p>
        <p>Precio $50.00</p>
    </div>
{%endblock%}